<section class="app">
  <div class="container">
    <h2>Edit Account and Company Details</h2>
    
    <div class="row">
      <div class="col-12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#account-tab">Account Settings</a></li>
          <li class="tab col s3"><a href="#company-tab">Company Settings</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12" id="account-tab">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          
          <div class="row field form-group">
            <div class="col-md-3">
              <%= f.label :first_name, class: 'control-label' %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
            </div>
          </div>

          <div class="row field form-group">
            <div class="col-md-3">
              <%= f.label :last_name %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
            </div>
          </div>

          <div class="row field form-group">
            <div class="col-md-3">
              <%= f.label :email %>
            </div>
            <div class="col-md-6">
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="row field form-group">
            <div class="col-md-3">
              <%= f.label :password %>
            </div>
            <div class="col-md-6">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              <i>(leave blank if you don't want to change it)</i>
            </div>
          </div>

          <div class="row field form-group">
            <div class="col-md-3">
              <%= f.label :password_confirmation %>
            </div>
            <div class="col-md-6">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="row field form-group">
            <div class="col-md-3">
              <%= f.label :current_password %>
            </div>
            <div class="col-md-6">
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
              <i>(we need your current password to confirm your changes)</i>
            </div>
          </div>

          <div class="actions col-md-offset-3">
            <%= f.submit "Update Details", class: 'btn btn-primary' %>
          </div><br />
        <% end %>
      </div>
      <div class="col s12" id="company-tab">
        Hello
      </div>
    </div>
  </div>
</section>
